In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('df.csv')
print(df.columns)
df.head(10)

Index(['ccp', 'HS_GPA', 'medianIncome', 'TERM_GPA', 'Early_alert', 'Persist',
       'Retained', 'Scholarship Level_1.0', 'Scholarship Level_2.0',
       'Scholarship Level_3.0', 'Scholarship Level_4.0',
       'Scholarship Level_5.0', 'SEX_M', 'OBOR_RANK_JR', 'OBOR_RANK_NU',
       'OBOR_RANK_SO', 'OBOR_RANK_SR', 'LIVING_CODE_OTHER'],
      dtype='object')

,ccp,HS_GPA,medianIncome,TERM_GPA,Early_alert,Persist,Retained,Scholarship Level_1.0,Scholarship Level_2.0,Scholarship Level_3.0,Scholarship Level_4.0,Scholarship Level_5.0,SEX_M,OBOR_RANK_JR,OBOR_RANK_NU,OBOR_RANK_SO,OBOR_RANK_SR,LIVING_CODE_OTHER
0,0.0,3.108,38677.0,3.33,0,1,1,0,0,0,0,0,0,0,0,0,0,1
1,0.0,3.490,58160.0,2.00,0,1,1,0,0,0,0,0,1,0,0,0,0,0
2,15.0,4.672,76698.0,4.00,0,1,1,0,0,0,0,0,0,0,1,0,0,1
3,0.0,3.183,64772.0,0.00,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,52.0,3.242,64831.0,2.43,1,1,1,0,0,0,0,0,0,0,0,1,0,0
5,3.0,3.505,68525.0,4.00,0,1,1,0,0,0,0,0,0,0,0,0,0,0
6,26.0,3.420,63823.0,3.00,1,1,1,0,0,0,0,0,1,0,0,0,0,1
7,13.0,3.214,58351.0,1.00,1,0,0,0,0,0,0,0,1,0,0,0,0,1
8,0.0,3.441,77210.0,2.00,1,0,0,0,0,0,0,0,1,0,0,0,0,1
9,0.0,3.820,0.0,4.00,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
list(df)

['ccp',
 'HS_GPA',
 'medianIncome',
 'TERM_GPA',
 'Early_alert',
 'Persist',
 'Retained',
 'Scholarship Level_1.0',
 'Scholarship Level_2.0',
 'Scholarship Level_3.0',
 'Scholarship Level_4.0',
 'Scholarship Level_5.0',
 'SEX_M',
 'OBOR_RANK_JR',
 'OBOR_RANK_NU',
 'OBOR_RANK_SO',
 'OBOR_RANK_SR',
 'LIVING_CODE_OTHER']

In [8]:
for i in list(df):
    nan_freq = "%s" % float("%.2g" % (df[i].isna().mean() * 100))
    break
nan_freq

'0.0'

In [11]:
str(df['ccp'].dtype)

'float64'

In [17]:
"%s" % float("%.2g" % (df[i].isna().mean() * 100))

'0.0'

In [13]:
df['ccp'].isna().mean()

0.0